services:
  portfolio:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: portfolio
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
