name: Build and Deploy 

on: 
  push:
    branches:
      - master 
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs: 
  build:
    name: Build NextJS
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      
      - name: Install dependencies
        run: npm install

      - name: Build NextJS project
        run: npm run build
      
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: docker build -t portfolio .

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
        
      - name: Push Docker image to GitHub Container Registry
        run: docker tag portfolio ghcr.io/${{ github.repository_owner }}/portfolio:latest && docker push ghcr.io/${{ github.repository_owner }}/portfolio:latest
         
  deploy:
    name: Deploy to server
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Deploy via SSH
      uses: appleboy/ssh-action@v1.2.4
      with:
        host: ${{ secrets.DEPLOY_HOST }}
        username: ${{ secrets.DEPLOY_USER }}
        key: ${{ secrets.DEPLOY_KEY }}
        ports: ${{ secrets.DEPLOY_PORT }}
        script: |
          cd /home/${{ secrets.DEPLOY_USER }}/apps/portfolio
          docker compose pull
          docker compose down
          docker compose up -d
          docker system prune -f
      